.fc__tooltip {
  font-size: 32px !important;
  width: 350px !important;
}

div[type="div"] ~ span {
  padding: 15px !important;
  background: #9ce5f35d !important;
  color: #3bb5ce !important;
  border-radius: 100% 0 0 100%;
  font-size: 14px !important;
  border: 1px solid #63d0e6 !important;
  top: -50px !important;
  transition: all 0.4s;
}

div[type="div"] ~ span:hover {
  transform: scale(1.2);
}

svg > g[class^="raphael-group-"] > text {
  display: none;
}
