.fc__tooltip {
  position: static !important;
}

div[type="div"] ~ span {
  padding: 15px !important;
  background: rgba(4, 79, 156, 0.3) !important;
  color: rgba(4, 79, 156, 0.8) !important;
  border-radius: 100% 0 0 100%;
  font-size: 14px !important;
  border: 1px solid rgba(4, 79, 156, 0.5) !important;
}

svg > g[class^="raphael-group-"] > text {
  display: none;
}
